* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(37, 39, 43);
  width: 100%;
  height: 2000px;
}

li {
  list-style: none;
}

.banner {
  background: rgb(33, 34, 36);
  height: 55px;
}

.banner nav ul input {
  position: absolute;
  display: block;
  left: 62px;
  top: 8px;
  background: rgb(58, 59, 60);
  border-radius: 19px;
  padding: 9px;
  padding-right: 29px;
  border: 1px solid rgb(33, 34, 36);
  font-size: 15px;
}

.search-icon {
  position: absolute;
  left: 71px;
  top: 18px;
  width: 22px;
}

.home-logo {
  position: absolute;
  left: 24rem;
  top: 5px;
  width: 25px;
}

.watch-logo {
  position: absolute;
  left: 31rem;
  top: 11px;
  width: 25px;
}

.marketplace-logo {
  position: absolute;
  left: 38rem;
  top: 8.5px;
}

.group-logo {
  position: absolute;
  left: 46rem;
  top: 11px;
}

.gaming-logo {
  position: absolute;
  left: 54rem;
  top: 11px;
}

.hr-down-header {
  border: 1px solid rgb(58, 59, 60);
}

.create-elements {
  position: absolute;
  right: 15rem;
  top: 9px;
  color: #e6e6e6;
  font-size: 18px;
  text-decoration: none;
  background: rgb(58, 59, 60);
  padding: 8px;
  border-radius: 22px;
}

.messages-logo {
  position: absolute;
  right: 11.5rem;
  top: 9px;
}

.background-messenger {
  position: absolute;
  right: 11.5rem;
  top: 8px;
  background: rgb(58, 59, 60);
  border-radius: 65px;
  height: 40px;
  width: 40px;
}

.background-notification {
  position: absolute;
  right: 8.3rem;
  top: 8px;
  background: rgb(58, 59, 60);
  border-radius: 65px;
  height: 40px;
  width: 40px;
}

.notification-logo {
  position: absolute;
  right: 150px;
  top: 13px;
  width: 15px;
}

.profile-image {
  position: absolute;
  right: 75px;
  top: 4px;
}

.background-arrow {
  position: absolute;
  color: #e6e6e6;
  right: 26px;
  top: 18px;
}

.profile-images {
  position: absolute;
  text-align: center;
  background: rgb(58, 59, 60);
  width: 100%;
  height: 570px;
}

.cover-profile {
  position: relative;
  width: 945px;
  height: 345px;
  border-radius: 7px;
}

.profile-photo {
  position: relative;
  right: 40%;
  width: 160px;
  height: 165px;
  border-radius: 220rem;
  border: 4px solid rgb(37, 39, 43);
}

.camera {
  position: absolute;
  right: 51.8%;
  top: 49%;
}

.change-cover {
  position: absolute;
  right: 32%;
  top: 53%;
}

.text-change {
  position: absolute;
  font-size: 18px;
  right: 24%;
  top: 19.5rem;
  color: #e6e6e6;
}

.account-name {
  position: absolute;
  left: 30rem;
  top: 23rem;
  font-weight: bold;
  color: #e6e6e6;
}

.bio {
  position: absolute;
  top: 27rem;
  left: 27rem;
  font-weight: bold;
}

.edit-hover {
  position: absolute;
  top: 29rem;
  left: 39.5rem;
  text-decoration: none;
  color: rgb(46, 137, 255);
  font-weight: bold;
}

.edit-hover:hover {
  text-decoration: underline;
}

.under-bio {
  position: relative;
  border: 0.1px solid rgb(28, 30, 33);
  top: 9.2rem;
  width: 65%;
  left: 14rem;
}

.cover-detail a {
  position: absolute;
  text-decoration: none;
  color: #e6e6e6;
}

.post {
  top: 36rem;
  left: 15rem;
}

.about {
  top: 36rem;
  left: 20rem;
}

.friends {
  top: 36rem;
  left: 25rem;
}

.photos {
  top: 36rem;
  left: 30rem;
}

.archive {
  top: 36rem;
  left: 35rem;
}

.more {
  top: 36rem;
  left: 40rem;
}

.edt-pro {
  position: absolute;
  top: 36.5rem;
  left: 52.5rem;
}

.background-edit-profile {
  position: absolute;
  top: 36rem;
  left: 52rem;
  background: rgb(28, 30, 33);
  width: 92px;
  height: 36px;
  border-radius: 15px;
}

.search-image {
  position: absolute;
  top: 36.4rem;
  left: 61rem;
}

.background-search-profile {
  position: absolute;
  top: 32.6rem;
  left: 60rem;
  background: rgb(28, 30, 33);
  width: 70px;
  height: 36px;
  border-radius: 16px;
}

.see-more {
  position: absolute;
  top: 36.3rem;
  left: 66rem;
}

.background-seemore {
  position: absolute;
  background: rgb(28, 30, 33);
  width: 42px;
  height: 32px;
  top: 36.3rem;
  left: 66rem;
  border-radius: 8px;
}

.right-page {
  position: absolute;
}

.intro {
  position: absolute;
  top: 39.8rem;
  left: 15.4rem;
  color: #e6e6e6;
}

.background-intro {
  position: absolute;
  top: 39rem;
  left: 14.5rem;
  background: rgb(28, 30, 33);
  width: 360px;
  height: 300px;
  border-radius: 9px;
}

.lives-image {
  position: absolute;
  top: 42rem;
  left: 15.5rem;
}

b:hover {
  text-decoration: underline;
}

.right-live {
  position: relative;
  color: #e6e6e6;
  top: 42.5rem;
  left: 17rem;
  text-decoration: none;
}

.location-from {
  position: absolute;
  top: 44.5rem;
  left: 15.4rem;
}

.right-location {
  position: relative;
  top: 44rem;
  left: 17.2rem;
  color: #e6e6e6;
}

.deatil {
  position: relative;
  top: 45.1rem;
  left: 22.8rem;
  color: #e6e6e6;
  text-decoration: none;
}

.background-deatil {
  position: absolute;
  top: 46.9rem;
  left: 15.5rem;
  background: rgb(58, 59, 60);
  width: 325px;
  height: 35px;
  border-radius: 6px;
}

.hobbies {
  position: relative;
  top: 47.5rem;
  left: 22.6rem;
  color: #e6e6e6;
  text-decoration: none;
}

.background-hobbies {
  position: absolute;
  top: 50.5rem;
  left: 15.5rem;
  background: rgb(58, 59, 60);
  width: 325px;
  height: 35px;
  border-radius: 6px;
}

.featured {
  position: relative;
  top: 50rem;
  left: 22.6rem;
  color: #e6e6e6;
  text-decoration: none;
}

.background-featured {
  position: absolute;
  top: 54rem;
  left: 15.5rem;
  background: rgb(58, 59, 60);
  width: 325px;
  height: 35px;
  border-radius: 6px;
}

.photos-organized {
  position: absolute;
}

.background-photos {
  position: absolute;
  top: 59rem;
  left: 14.5rem;
  background: rgb(28, 30, 33);
  width: 360px;
  height: 300px;
  border-radius: 9px;
}

.photo-text {
  position: absolute;
  color: #e6e6e6;
  top: 60.2rem;
  left: 15.5rem;
  text-decoration: none;
}

.photo-text:hover {
  text-decoration: underline;
}

.see-photos-text {
  position: relative;
  top: 60.2rem;
  left: 30rem;
  color: rgb(46, 137, 255);
  text-decoration: none;
}

.friends-space {
  position: relative;
}

.background-friends {
  position: absolute;
  top: 79rem;
  left: 14.5rem;
  background: rgb(28, 30, 33);
  width: 360px;
  height: 300px;
  border-radius: 9px;
}

.friends-text {
  position: absolute;
  color: #e6e6e6;
  top: 80rem;
  left: 15.5rem;
  text-decoration: none;
}

.friends-text:hover {
  text-decoration: underline;
}

.see-friends-text {
  position: relative;
  top: 80rem;
  left: 30rem;
  color: rgb(46, 137, 255);
  text-decoration: none;
}

.backgroundof-creator {
  position: absolute;
  top: 42.5rem;
  left: 40rem;
  background-color: rgb(28, 30, 33);
  width: 500px;
  height: 120px;
  border-radius: 6px;
  color: #e6e6e6;
}

.input-profile {
  position: absolute;
  top: 43.4rem;
  left: 40.5rem;
}

.under-input {
  position: relative;
  border: 1px solid rgb(58, 59, 60);
  top: 40rem;
  left: 40rem;
  width: 31rem;
}

.comment-creator {
  position: relative;
  background: rgb(58, 59, 60);
  border: 1px solid black;
  padding: 10.2px;
  padding-right: 14rem;
  border-radius: 22px;
  top: 39.2rem;
  left: 44rem;
}

.livevideo {
  position: absolute;
  top: 47.4rem;
  left: 42rem;
}

.right-livevideo {
  position: absolute;
  top: 47.6rem;
  left: 45rem;
  color: #e6e6e6;
  text-decoration: none;
}

.photo_videos {
  position: absolute;
  top: 47.4rem;
  left: 53rem;
}

.right-photo_videos {
  position: absolute;
  top: 47.8rem;
  left: 55rem;
  color: #e6e6e6;
  text-decoration: none;
}

.events {
  position: absolute;
  top: 47.5rem;
  left: 63rem;
}

.right-live-events {
  position: absolute;
  top: 47.8rem;
  left: 65.2rem;
  color: #e6e6e6;
}

.background-comment {
  position: absolute;
  width: 500px;
  height: 240px;
  background: rgb(28, 30, 33);
  top: 51.5rem;
  left: 40rem;
  border-radius: 9px;
}

.profile-comment {
  position: absolute;
  top: 52rem;
  left: 40.5rem;
}

.person-owner-post {
  position: absolute;
  color: #e6e6e6;
  top: 52.4rem;
  left: 43.8rem;
}

.person-owner-post:hover {
  text-decoration: underline;
}

.index-of-comment {
  position: absolute;
  color: #e6e6e6;
  top: 56.5rem;
  left: 41rem;
  font-weight: normal;
}

.seemore-comment {
  position: absolute;
  top: 53rem;
  left: 68rem;
}

.down-index {
  position: absolute;
  border: 1px solid rgb(58, 59, 60);
  top: 59rem;
  left: 41rem;
  width: 32%;
}

.down-index2 {
  position: absolute;
  border: 1px solid rgb(58, 59, 60);
  top: 62rem;
  left: 41rem;
  width: 32%;
}

.like-comment {
  position: absolute;
  top: 60rem;
  left: 44rem;
}

.right-like-text {
  position: absolute;
  top: 60.2rem;
  left: 45.8rem;
  color: #e6e6e6;
}

.comment-photo {
  position: absolute;
  top: 60rem;
  left: 53rem;
}

.right-comment-text {
  position: absolute;
  top: 60.2rem;
  left: 55rem;
  color: #e6e6e6;
}

.share-inside-comment {
  position: absolute;
  top: 60.2rem;
  left: 63rem;
  color: #e6e6e6;
}

.text-right-share {
  position: absolute;
  top: 60.3rem;
  left: 65rem;
  color: #e6e6e6;
}

.time-ago {
  position: absolute;
  color: gray;
  top: 53.5rem;
  left: 43.8rem;
  font-size: 12px;
}

time-ago:hover {
  text-decoration: underline;
}

.write-comment {
  position: absolute;
  background: rgb(58, 59, 60);
  border-radius: 19px;
  padding: 9px;
  padding-right: 9rem;
  border: 1px solid rgb(33, 34, 36);
  font-size: 15px;
  top: 63.5rem;
  left: 43rem;
}

.right-write {
  position: absolute;
  top: 63rem;
  left: 40rem;
}
