* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(37, 39, 43);
  position: relative;
}

li {
  list-style: none;
}

.banner {
  background: rgb(33, 34, 36);
  height: 55px;
}

.banner nav ul input {
  position: absolute;
  display: block;
  left: 62px;
  top: 8px;
  background: rgb(58, 59, 60);
  border-radius: 19px;
  padding: 9px;
  padding-right: 29px;
  border: 1px solid rgb(33, 34, 36);
  font-size: 15px;
}

.search-icon {
  position: absolute;
  left: 71px;
  top: 18px;
  width: 22px;
}

.home-logo {
  position: absolute;
  left: 24rem;
  top: 5px;
  width: 25px;
}

.watch-logo {
  position: absolute;
  left: 31rem;
  top: 11px;
  width: 25px;
}

.marketplace-logo {
  position: absolute;
  left: 38rem;
  top: 8.5px;
}

.group-logo {
  position: absolute;
  left: 46rem;
  top: 11px;
}

.gaming-logo {
  position: absolute;
  left: 54rem;
  top: 11px;
}

.hr-down-header {
  border: 1px solid rgb(58, 59, 60);
}

.create-elements {
  position: absolute;
  right: 15rem;
  top: 9px;
  color: #e6e6e6;
  font-size: 18px;
  text-decoration: none;
  background: rgb(58, 59, 60);
  padding: 8px;
  border-radius: 22px;
}

.messages-logo {
  position: absolute;
  right: 11.5rem;
  top: 9px;
}

.background-messenger {
  position: absolute;
  right: 11.5rem;
  top: 8px;
  background: rgb(58, 59, 60);
  border-radius: 65px;
  height: 40px;
  width: 40px;
}

.background-notification {
  position: absolute;
  right: 8.3rem;
  top: 8px;
  background: rgb(58, 59, 60);
  border-radius: 65px;
  height: 40px;
  width: 40px;
}

.notification-logo {
  position: absolute;
  right: 150px;
  top: 13px;
  width: 15px;
}

.profile-image {
  position: absolute;
  right: 75px;
  top: 4px;
}

.background-arrow {
  position: absolute;
  color: #e6e6e6;
  right: 26px;
  top: 18px;
}

span {
  font-family: Times New Roman;
}

.name-profile {
  position: absolute;
  color: #e6e6e6;
  left: 55px;
  top: 4.5rem;
  text-decoration: none;
}

profile-anc {
  text-decoration: none;
  color: #e6e6e6;
}

.page-font {
  position: absolute;
  color: #e6e6e6;
  left: 52px;
  top: 7.3rem;
}

/* this can be declare after world Recovering of covid-19 (Corona Virus) */

.corona-virus {
  position: absolute;
  color: #e6e6e6;
  left: 43px;
  top: 10rem;
}

.friends-write {
  position: absolute;
  text-decoration: none;
  color: #e6e6e6;
  left: 24px;
  top: 6.3rem;
}

.group-blue {
  position: absolute;
  left: 5px;
}

.group-blue-font {
  position: absolute;
  text-decoration: none;
  color: #e6e6e6;
  left: 46px;
  top: 15.3rem;
}

.see-more {
  position: absolute;
  color: #e6e6e6;
  top: 18rem;
  left: 53px;
}

.down-right-page {
  position: relative;
  border: 0.2px solid rgb(58, 59, 60);
  top: 5.8rem;
  width: 19.5rem;
}

.type-short {
  position: absolute;
  color: #e6e6e6;
  top: 21.5rem;
  left: 9px;
  font-family: Helvetica;
}

.rap-shortcut {
  position: absolute;
  color: #e6e6e6;
  top: 25.8rem;
  left: 46px;
}

.rap-image {
  position: absolute;
  margin: auto;
  color: #e6e6e6;
  text-decoration: none;
  top: 24.8rem;
}

.coffee {
  position: relative;
  color: #e6e6e6;
  text-decoration: #e6e6e6 none;
  top: 7.5rem;
  left: 26px;
}

.coffee-rap-image {
  position: absolute;
  top: 28.8rem;
}

.creative {
  position: relative;
  text-decoration: none;
  color: #e6e6e6;
  top: 8.9rem;
  left: 31px;
}

.creative-image {
  position: absolute;
  top: 33.2rem;
  left: 4px;
}

.as7abe {
  position: relative;
  text-decoration: none;
  color: #e6e6e6;
  top: 10.8rem;
  left: 33px;
}

.as7abe-image {
  position: absolute;
  top: 38rem;
  left: 6px;
}

.step2-seemore {
  position: absolute;
  color: #e6e6e6;
  top: 43rem;
  left: 29px;
}

.input-comment {
  position: absolute;
  background-color: rgb(58, 59, 60);
  padding: 9px;
  padding-right: 12rem;
  border-radius: 19px;
  border: 1px solid#121212;
  right: 38%;
  top: 18.8rem;
  color: #e6e6e6;
}

.background-spacing-behind-story {
  position: absolute;
  border-radius: 8px;
  left: 32%;
  background: rgb(58, 59, 60);
  width: 520px;
  height: 100px;
}

.background-spacing-behind-story hr {
  border: 1px solid #121212;
}

.story img {
  position: absolute;
  left: 31%;
  bottom: 10%;
  border-radius: 16px;
}

.story span {
  position: absolute;
  left: 31%;
  bottom: 10%;
  color: #e6e6e6;
  background: rgb(58, 59, 60);
  height: 60px;
  width: 110px;
  border-radius: 4px;
}

.story h3 {
  position: absolute;
  color: #e6e6e6;
  left: 33%;
  bottom: 13.6%;
  font-size: 16px;
  text-align: center;
}

.plus {
  position: absolute;
  left: 33.3%;
  bottom: 24%;
}

.live {
  position: absolute;
  left: 30px;
  bottom: 8px;
}

.live-text {
  position: absolute;
  color: #e6e6e6;
  left: 65px;
  bottom: 13px;
}

.photo-videos {
  position: absolute;
  left: 190px;
  bottom: 6.5px;
}

.photo-videos-text {
  position: absolute;
  color: #e6e6e6;
  left: 220px;
  bottom: 15px;
}

.feeling {
  position: absolute;
  left: 345px;
  bottom: 6.5px;
}

.feeling-text {
  position: absolute;
  color: #e6e6e6;
  left: 385px;
  bottom: 16px;
}

.comment-spacing {
  position: absolute;
  width: 610px;
  height: 730px;
  right: 30%;
  bottom: -320%;
  background: rgb(58, 59, 60);
}

.person-name {
  position: relative;
  bottom: 90.5%;
  left: 10%;
  color: #e6e6e6;
  text-decoration: none;
}

.more-photo {
  position: relative;
  left: 85%;
  bottom: 2%;
}

.down-main-photo-comment {
  position: relative;
  border: 1px solid rgb(37, 39, 43);
  bottom: 0.8%;
}

.comments-left-post {
  position: absolute;
  left: 85%;
  bottom: 7%;
  color: #e6e6e6;
}

.down-comment-text {
  position: relative;
  border: 1px solid rgb(37, 39, 43);
  bottom: 2%;
}

.like-text {
  position: relative;
  left: 16%;
  color: #e6e6e6;
}

.like-image {
  position: absolute;
  bottom: 1.2%;
  left: 12%;
}

.comment-image {
  position: relative;
  left: 17rem;
  bottom: -2.7rem;
}

.comment-text {
  position: relative;
  color: #e6e6e6;
  left: 19rem;
  bottom: 1.4rem;
}

.share {
  position: absolute;
  left: 30rem;
  bottom: 1rem;
}

.share-text {
  position: absolute;
  left: 32rem;
  color: #e6e6e6;
  bottom: 1.2rem;
}

.line-down-comment {
  position: relative;
  border: 1px solid rgb(33, 34, 36);
  bottom: -5.2rem;
}

.create-comment {
  position: absolute;
  margin: auto;
  background: rgb(58, 59, 60);
  border: 1px solid black;
  padding: 10.2px;
  padding-right: 24rem;
  border-radius: 22px;
  right: 30%;
  top: 76.8rem;
}

.rit-input {
  position: absolute;
  left: 26.7%;
  top: 76.4rem;
}
